# Fischers Discrminant Analysis

In [2]:
import numpy as np
import pandas as pd

In [29]:
n=int(input('enter the no of attributes :'))
df=pd.DataFrame()
for i in range(n):
    m=input('enter the name of attribute :')
    df[m]=list(map(float,input().split()))
    
xk=[0,0]

xk[0]=float(input('enter the curvature of chip:'))
xk[1]=float(input('enter the diameter of the chip:'))
df

enter the no of attributes :3
enter the name of attribute :x1
1300 1260 1220 1180 1060 1140 1100 1020 980 940
enter the name of attribute :x2
2.7 3.7 2.9 2.5 3.9 2.1 3.5 3.3 2.3 3.1
enter the name of attribute :ones
1 1 1 1 1 0 0 0 0 0
enter the curvature of chip:1000
enter the diameter of the chip:2.9

       x1   x2  ones
0  1300.0  2.7   1.0
1  1260.0  3.7   1.0
2  1220.0  2.9   1.0
3  1180.0  2.5   1.0
4  1060.0  3.9   1.0
5  1140.0  2.1   0.0
6  1100.0  3.5   0.0
7  1020.0  3.3   0.0
8   980.0  2.3   0.0
9   940.0  3.1   0.0

In [30]:
x1=[]
x2=[]
for i in range(len(df)):
    l=[]
    if df['ones'][i]==1:
        l.append(df['x1'][i])
        l.append(df['x2'][i])
        x1.append(l)
    else:
        l.append(df['x1'][i])
        l.append(df['x2'][i])
        x2.append(l)
x=np.array([df['x1'],
           df['x2']])
x

array([[1300. , 1260. , 1220. , 1180. , 1060. , 1140. , 1100. , 1020. ,
         980. ,  940. ],
       [   2.7,    3.7,    2.9,    2.5,    3.9,    2.1,    3.5,    3.3,
           2.3,    3.1]])

In [31]:
def men(a):
    m1,m2=0,0
    for i in a:
        m1+=i[0]
        m2+=i[1]
    return [m1/len(a),m2/len(a)]
mew1=men(x1)
mew2=men(x2)
mew=[]
m1,m2=0,0
for i in range(len(x[0])):
        m1+=x[0][i]
        m2+=x[1][i]
mew.append(m1/len(x[0]))
mew.append(m2/len(x[0]))

In [32]:
#### x-mew

for i in range(len (x[0])):
    x[0][i]-=mew[0]
    
    x[1][i]-=mew[1]
x

array([[ 1.8e+02,  1.4e+02,  1.0e+02,  6.0e+01, -6.0e+01,  2.0e+01,
        -2.0e+01, -1.0e+02, -1.4e+02, -1.8e+02],
       [-3.0e-01,  7.0e-01, -1.0e-01, -5.0e-01,  9.0e-01, -9.0e-01,
         5.0e-01,  3.0e-01, -7.0e-01,  1.0e-01]])

In [33]:
from cmath import log

xtrans=np.array(x).transpose()

c=(x@xtrans)/len(x[0])

#print(c)

cinv=np.linalg.inv(c)



xk=np.array(xk).transpose()

f1=(mew1@cinv@xk)-0.5*(mew1@cinv@(np.array(mew1).transpose()))+log(len(x1)/len(x[0]))

f2=(mew2@cinv@xk)-0.5*(mew2@cinv@(np.array(mew2).transpose()))+log(len(x2)/len(x[0]))

if f1>f2:
    print('the observation belongs to group-1')
    
else:
    print('the observation belongs to group-2')

the observation belongs to group-2

In [28]:
f2

(1.7124377977741894+0j)