In [43]:
import numpy as np
import pandas as pd
from sklearn import linear_model
from scipy import stats
from math import sqrt

In [44]:
n=int(input('enter the no of variables:'))
# l=[]
# for i in range(n):
#     l.append(list(map(int,input().split())))
# print(l)

enter the no of variables:3

In [45]:
df=pd.DataFrame()
for i in range(n):
    df[input('enter the variable name:')]=list(map(int,input().split()))

11 11 8 2 5 5 4
enter the variable name:y
-5 -4 -1 2 2 3 3
enter the variable name:x1
5 4 1 -3 -2 -2 -3
enter the variable name:x2

In [46]:
df

    y  x1  x2
0  11  -5   5
1  11  -4   4
2   8  -1   1
3   2   2  -3
4   5   2  -2
5   5   3  -2
6   4   3  -3

# BUILT IN FUN

In [47]:
m=df.iloc[:,1:]
m

   x1  x2
0  -5   5
1  -4   4
2  -1   1
3   2  -3
4   2  -2
5   3  -2
6   3  -3

In [51]:
reg=linear_model.LinearRegression()
reg.fit(m,df['y'])
reg.coef_

array([1., 2.])

# Manual

In [59]:
## for insertion of 1's column
length=len(df['y'])
X=np.ones((length,1))
X=np.hstack((X,df.iloc[:,1:]))


Xtrans.shape

AttributeError: 'list' object has no attribute 'shape'

In [62]:

y=np.array(df['y']).reshape(len(df['y']),1)

#y.
#np.shape(y)
y=np.matrix(y)
print(y)



## transpose of matrix

Xtrans=[[X[i][j] for i in range(len(X))] for j in range(len(X[0]))]
#Xtrans




res1= (Xtrans@y)

##     inverse of the matrix

res =np.linalg.inv(Xtrans@X)@res1


print('THE COEFFICIENT MATRIX IS:',res)

[[11]
 [11]
 [ 8]
 [ 2]
 [ 5]
 [ 5]
 [ 4]]
THE COEFFICIENT MATRIX IS: [[6.57142857]
 [1.        ]
 [2.        ]]

# Goodness of fit

## 1.coefficient of determination

In [63]:
ylist=float(res[0])+float(res[1])*df['x1']+float(res[2])*df['x2']

In [64]:
ylist

0    11.571429
1    10.571429
2     7.571429
3     2.571429
4     4.571429
5     5.571429
6     3.571429
dtype: float64

In [65]:
ydf=pd.DataFrame({'y':df['y']
                 ,'y^':list(ylist)})
ydf['$']=(ydf['y']-ydf['y^'])**2

In [66]:
SSe=sum(ydf['$'])
#SSe

from statistics import mean
avg_of_sales=mean(df['y'])
SST=sum((df['y']-avg_of_sales)**2)
#SST

SSr=SST-SSe

R2=SSr/SST
if R2>0.90:
    print('It fits in the model')
else:
    print('It won\'t fit in the model')

It fits in the model

## 2. ANOVA

In [67]:
msr=SSr/(n-1)
mse=SSe/(length-n)
los=float(input('enter the level of significance:'))
Fcal=msr/mse
from scipy import stats
Ftab=stats.f.ppf(1-los,n-1,length-n)
if Fcal>=Ftab:
    print('Good fit')
else:
    print('Not a Good Fit')

enter the level of significance:0.05
Good fit

## 3.Test of individual parameters

In [68]:
ip=pd.DataFrame()

In [69]:
inv_xtransx=np.linalg.inv(Xtrans@X)

diag_ele=list(inv_xtransx[i][i] for i in range(n))
print(diag_ele)

[0.14285714285714285, 0.5037037037037045, 0.5037037037037045]

In [70]:
t_val=[]
for i in range(n):
    res_ele=res[i]/(sqrt(mse*diag_ele[i]))
    t_val.append(abs(res_ele))
t_val

[matrix([[26.55811238]]), matrix([[2.15229016]]), matrix([[4.30458032]])]

In [72]:
t_tab=abs(stats.t.ppf(los/2,len(df['y'])-n))
t_tab

2.7764451051977996

In [73]:
for i in t_val:
    if i>t_tab:
        print('it is contributing to the model')
    else:
        print('it is not contributing to the model')

it is contributing to the model
it is not contributing to the model
it is contributing to the model