In [2]:
import pandas as pd
import numpy as np

In [21]:
n=int(input('enter the no of attributes:'))

df=pd.DataFrame()
x=[]
for i in range(n):
    m=input('enter the name:')
    df[m]=list(map(float,input().split()))
    x.append(df[m])
x=np.array(x)
x

enter the no of attributes:2
enter the name:x1
2 1 0 -1
enter the name:x2
4 3 1 0.5

array([[ 2. ,  1. ,  0. , -1. ],
       [ 4. ,  3. ,  1. ,  0.5]])

In [22]:
from statistics import mean

mew=[mean(df['x1']),mean(df['x2'])]

for i in range(len(x[0])):
    x[0][i]-=mew[0]
    x[1][i]-=mew[1]

In [27]:
c=(x@x.transpose())/len(x[0])


##eigen vector and values
##a-eigen values
##b-eigen vectors
a,b=np.linalg.eig(c)

#print(a,b)

[0.03593674 3.26093826] [[-0.78964958 -0.6135581 ]
 [ 0.6135581  -0.78964958]]

In [33]:
##normalisation

from math import sqrt

l1=b[0]
l2=b[1]

sqr=[sqrt(l1[0]**2+l1[1]**2),sqrt(l2[0]**2+l2[1]**2)]

for i in range(len(l1)):
    l1[i]=l1[i]/sqr[0]
    
for j in range(len(l2)):
    l2[i]=l2[i]/sqr[1]
print(l1,l2)

[-0.78964958 -0.6135581 ] [ 0.6135581  -0.78964958]

In [32]:
df1=pd.DataFrame({'x1':df['x1'],'x2':df['x2']})

df1['z1']=(l1[0])*df['x1']+(l1[1])*df['x2']
df1['z2']=(l2[0])*df['x1']+(l2[1])*df['x2']

df1

    x1   x2        z1        z2
0  2.0  4.0 -4.033532 -1.931482
1  1.0  3.0 -2.630324 -1.755391
2  0.0  1.0 -0.613558 -0.789650
3 -1.0  0.5  0.482871 -1.008383