In [3]:
import numpy as np
import pandas as pd
import scipy.stats as sta

In [4]:
x=list(map(int,input().split()))
y=list(map(int,input().split()))
#x1=np.array(x)
#y1=np.array(y)
df=pd.DataFrame({'X':x,'Y':y})
length=len(x)

68 64 75 50 64 80 75 40 55 64
62 58 68 45 81 60 68 48 50 70

In [5]:
xranks = pd.Series(x).rank()
yranks = pd.Series(y).rank()

In [6]:
df['Rank-1']=length-xranks+1
df['Rank-2']=length-yranks+1
df['di']=df['Rank-1']-df['Rank-2']
df['di_2']=df['di']**2

In [16]:
df

    X   Y  Rank-1  Rank-2   di  di_2
0  68  62     4.0     5.0 -1.0   1.0
1  64  58     6.0     7.0 -1.0   1.0
2  75  68     2.5     3.5 -1.0   1.0
3  50  45     9.0    10.0 -1.0   1.0
4  64  81     6.0     1.0  5.0  25.0
5  80  60     1.0     6.0 -5.0  25.0
6  75  68     2.5     3.5 -1.0   1.0
7  40  48    10.0     9.0  1.0   1.0
8  55  50     8.0     8.0  0.0   0.0
9  64  70     6.0     2.0  4.0  16.0

In [8]:
def dup(x):
    d={}
    for i in x:
        if i in d:
            d[i]+=1
        else:
            d[i]=1
    ## for cf
    sum=0
    for i in d:
        if d[i]!=1:
            sum+=(d[i]*(d[i]**2-1))/12
        else:
            continue
    return sum

In [10]:
di=sum(df['di_2'])+dup(x)+dup(y)
di

75.0

In [15]:
print('the rank correlation coefficient is:',(1-(6*di)/(length*(length**2-1))))

the rank correlation coefficient is: 0.5454545454545454